{{ ansible_managed|truncate(100, false) }}
"inventory_hostname" is {{ inventory_hostname }} 
"ansible_hostname" is {{ ansible_hostname }}
{% if apachevars is defined %}
{{ apachevars|to_json }}
{% endif %}
