#
# The Maria database server configuration file.
#
# You can copy this to one of:
# - "/etc/my.cnf" to set global options,
# - "~/.my.cnf" to set user-specific options.
# 
# One can use all long options that the program supports.
# Run program with --help to get a list of available options and with
# --print-defaults to see which it would actually understand and use.
#

# This will be passed to all mysql clients
# It has been reported that passwords should be enclosed with ticks/quotes
# escpecially if they contain "#" chars...
# Remember to edit /etc/mysql/debian.cnf when changing the socket location.

[mysqld11]
#
# * Basic Settings
#
user				= mysql
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
# Settings user and group are ignored when systemd is used.
# If you need to run mysqld under a different user or group,
# customize your systemd unit file for mariadb according to the
# instructions in http://fedoraproject.org/wiki/Systemd
pid-file			= /var/run/mariadb/mysqld11.pid
socket				= /var/run/mariadb/mysqld11.sock
port				= 3311
basedir				= /usr
datadir				= /var/lib/mysql11
tmpdir				= /tmp
lc-messages-dir			= /usr/share/mysql
character_sets_dir		= /usr/share/mysql/charsets/
skip-external-locking
#
# Instead of skip-networking the default is now to listen only on
# localhost which is more compatible and is not less secure.
bind-address		= 127.0.0.1
#
# * Fine Tuning
#
key_buffer_size			= 16M
max_allowed_packet		= 16M
thread_stack			= 192K
thread_cache_size		= 8
# This replaces the startup script and checks MyISAM tables if needed
# the first time they are touched
myisam_recover_options		= BACKUP,FORCE
#max_connections		= 100
#table_cache			= 64
#thread_concurrency		= 10
#
# * Query Cache Configuration
#
query_cache_limit		= 1M
query_cache_size		= 16M
#
# * Logging and Replication
#
# Both location gets rotated by the cronjob.
# Be aware that this log type is a performance killer.
# As of 5.1 you can enable the log at runtime!
general_log_file		= /var/log/mariadb/mysql5general11.log
#general_log			= 1
#
# Error log - should be very few entries.
#
log_error			= /var/log/mariadb/mysql5error11.log
#
# Here you can see queries with especially long duration
#log_slow_queries	= /var/log/mariadb/mysql-slow.log
#long_query_time = 2
#log-queries-not-using-indexes
#
# The following can be used as easy to replay backup logs or for replication.
# note: if you are setting up a replication slave, see README.Debian about
#       other settings you may need to change.
#server-id		= 1
#log_bin			= /var/log/mariadb/mysql-bin.log
expire_logs_days	= 10
max_binlog_size         = 100M
#binlog_do_db		= include_database_name
#binlog_ignore_db	= include_database_name

#default_storage_engine	= Aria
#default_storage_engine	= MyISAM
#default_storage_engine	= InnoDB
{% if db5.engine11 is defined %}
default_storage_engine	= {{db5.engine11}}
{% else %}
default_storage_engine	= MyISAM
{% endif %}

#
# * InnoDB
#
# InnoDB is enabled by default with a 10MB datafile in /var/lib/mysql/.
# Read the manual for more InnoDB related options. There are many!
#
# * Security Features
#
# Read the manual, too, if you want chroot!
# chroot = /var/lib/mysql/
#
# For generating SSL certificates I recommend the OpenSSL GUI "tinyca".
#
# ssl-ca=/etc/mysql/cacert.pem
# ssl-cert=/etc/mysql/server-cert.pem
# ssl-key=/etc/mysql/server-key.pem
