#!/bin/sh
#
# Load employees test data into instance 12 which is XtraDB / InnoDB enabled
#
#cd /usr/local/employees_db/
{% if db5.testdata_employees_dir is defined %}
cd {{db5.testdata_employees_dir}}
{% else %}
# Next is a default rather than being set by automation testdata_employees_dir
cd /usr/local/employees_db/
{% endif %}
/usr/bin/mysql --defaults-extra-file=/root/.mysql5multi12.cnf -S /var/run/mariadb/mysqld12.sock \
--show-warnings < employees.sql
LOADRC_=$?
cd -
printf "Next report on status.\n"
/usr/bin/mysqld_multi --defaults-file=/etc/mysql/maria5multi.cnf report
printf "SELECT table_name,engine FROM information_schema.TABLES WHERE TABLE_SCHEMA = 'employees';" | \
mysql --defaults-extra-file=/root/.mysql5multi12.cnf -S /var/run/mariadb/mysqld12.sock
exit ${LOADRC_}
# mysqld_multi --defaults-file=/etc/mysql/maria5multi.cnf reload 11 --user=root --password=placeholder
# mysqladmin --port=3311 -u root -p version
# mysqladmin --port=3311 -u root -ppassword
# mysqladmin --port=3311 -u root password
# mysqlcheck --port=3311 --check mysql 'proc'
# mysqlcheck --port=3311 --repair mysql 'proc'
